shared/data/preprocessed/*
!shared/data/preprocessed/.gitkeep
!shared/data/preprocessed/delan_ur5_tf0p2_vf0p1_dataset
shared/data/processed/*
!shared/data/processed/.gitkeep
shared/data/raw/*
!shared/data/raw/.gitkeep
!shared/data/raw/0_raw_data.csv
!shared/data/raw/raw_data.csv

shared/evaluation/*
!shared/evaluation/.gitkeep
!shared/evaluation/_metrics_plots/
shared/evaluation/_metrics_plots/*
!shared/evaluation/_metrics_plots/.gitkeep

shared/models/delan/*
!shared/models/delan/.gitkeep
!shared/models/delan/_metrics_plots/
shared/models/delan/_metrics_plots/*
!shared/models/delan/_metrics_plots/.gitkeep

shared/models/lstm/*
!shared/models/lstm/.gitkeep
!shared/models/lstm/_metrics_plots/
shared/models/lstm/_metrics_plots/*
!shared/models/lstm/_metrics_plots/.gitkeep

# Python cache
__pycache__/
*.pyc
