services:
  preprocess:
    build: ./services/preprocess
    environment:
      RAW_CSV: /workspace/shared/data/raw/raw_data.csv
      OUT_NPZ: /workspace/shared/data/preprocessed/delan_ur5_dataset.npz
    volumes:
      - ${APE_PREPROCESS}:/workspace/preprocess
      - ${APE_SHARED}/data/raw:/workspace/shared/data/raw:ro
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed
      - ${APE_SHARED}/config:/workspace/shared/config
      - ${APE_SHARED}/logs:/workspace/shared/logs
    working_dir: /workspace/preprocess
    stdin_open: true
    tty: true
    # command: >
      # bash -lc "pip install -e /workspace/preprocess && tail -f /dev/null"

  delan_jax:
    depends_on:
      - preprocess
    build:
      context: ./services/delan
      dockerfile: Dockerfile.jax
    gpus: all
    environment:
    - DISPLAY=${DISPLAY}
    - QT_X11_NO_MITSHM=1
    # - MPLBACKEND=Agg
    # - QT_QPA_PLATFORM=offscreen
    volumes:
      - ${APE_SHARED}/data/preprocessed:/workspace/shared/data/preprocessed:ro
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed
      - ${APE_SHARED}/models/delan:/workspace/shared/models/delan
      - ${APE_SHARED}/config:/workspace/shared/config:ro
      - ${APE_SHARED}/logs:/workspace/shared/logs
      - ${DELAN_REPO}:/workspace/delan_repo
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    working_dir: /workspace/delan_repo
    stdin_open: true
    tty: true
    # command: >
      # bash -lc "pip install -e /workspace/delan_repo && tail -f /dev/null"


  delan_torch:
    # depends_on:
      # - preprocess  
    build:
      context: ./services/delan
      dockerfile: Dockerfile.torch
    gpus: all
    environment:
    - DISPLAY=${DISPLAY}
    - QT_X11_NO_MITSHM=1
    - MPLBACKEND=Agg
    - QT_QPA_PLATFORM=offscreen    
    volumes:
      - ./shared/data/processed:/workspace/shared/data/processed:ro
      - ./shared/models/delan:/workspace/shared/models/delan
      - ./shared/config:/workspace/shared/config:ro
      - ./shared/logs:/workspace/shared/logs
      - ${DELAN_REPO}:/workspace/delan_repo
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    working_dir: /workspace/delan_repo
    stdin_open: true
    tty: true
    # command: >
    #   bash -lc "pip install -e /workspace/delan_repo && tail -f /dev/null"

  lstm:
    depends_on:
      - preprocess
      - delan_jax
    build: ./services/lstm
    gpus: all
    volumes:
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed:ro
      - ${APE_SHARED}/models/delan:/workspace/shared/models/delan:ro
      - ${APE_SHARED}/models/lstm:/workspace/shared/models/lstm
      - ${APE_SHARED}/config:/workspace/shared/config:ro
      - ${APE_SHARED}/logs:/workspace/shared/logs
      - ${LSTM}:/workspace/lstm
    working_dir: /workspace/lstm
    stdin_open: true
    tty: true
    # command: ["python", "scripts/run_lstm.py"]

  evaluation:
    build: ./services/evaluation
    depends_on:
      - preprocess
      - delan_jax
      - lstm
    volumes:
      - ${APE_EVALUATION}:/workspace/evaluation
      - ./shared/data/processed:/workspace/shared/data/processed:ro
      - ./shared/models/delan:/workspace/shared/models/delan:ro
      - ./shared/models/lstm:/workspace/shared/models/lstm:ro
      - ./shared/config:/workspace/shared/config:ro
      - ./shared/logs:/workspace/shared/logs
    working_dir: /workspace/evaluation
    stdin_open: true
    tty: true
    # command: ["python", "scripts/run_evaluation.py"]

  runner_gui:
    depends_on:
      - preprocess
      - delan_jax
      - lstm
      - evaluation
    build: ./services/runner_gui
    environment:
      - APE_PE=${APE_PE}
      - APE_SHARED=${APE_SHARED}
      - APE_PREPROCESS=${APE_PREPROCESS}
      - APE_EVALUATION=${APE_EVALUATION}
      - LSTM=${LSTM}
      - DELAN_REPO=${DELAN_REPO}
      - DISPLAY=${DISPLAY}
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
      - STREAMLIT_SERVER_HEADLESS=true
    volumes:
      - ${APE_PE}:/workspace:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ${APE_SHARED}:/workspace/shared
    ports:
      - "8501:8501"
    working_dir: /app
