services:
  preprocess:
    build: ./services/preprocess
    user: "${UID}:${GID}"
    environment:
      PYTHONDONTWRITEBYTECODE: "1"
      RAW_CSV: /workspace/shared/data/raw/raw_data.csv
      OUT_NPZ: /workspace/shared/data/preprocessed/delan_ur5_dataset/delan_ur5_dataset.npz
    volumes:
      - ${APE_PREPROCESS}:/workspace/preprocess
      - ${APE_SHARED}/data/raw:/workspace/shared/data/raw
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed
      - ${APE_SHARED}/data/preprocessed:/workspace/shared/data/preprocessed
      - ${APE_SHARED}/config:/workspace/shared/config
      - ${APE_SHARED}/logs:/workspace/shared/logs
      - ${APE_SHARED}/src:/workspace/shared/src:ro
    working_dir: /workspace/preprocess
    stdin_open: true
    tty: true
    # command: >
      # bash -lc "pip install -e /workspace/preprocess && tail -f /dev/null"

  delan_jax:
    depends_on:
      - preprocess
    build:
      context: ./services/delan
      dockerfile: Dockerfile.jax
    user: "${UID}:${GID}"
    gpus: all
    environment:
    - PYTHONDONTWRITEBYTECODE=1
    - DISPLAY=${DISPLAY}
    - QT_X11_NO_MITSHM=1
    # - MPLBACKEND=Agg
    # - QT_QPA_PLATFORM=offscreen
    volumes:
      - ${APE_SHARED}/data/preprocessed:/workspace/shared/data/preprocessed:ro
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed
      - ${APE_SHARED}/models/delan:/workspace/shared/models/delan
      - ${APE_SHARED}/config:/workspace/shared/config:ro
      - ${APE_SHARED}/logs:/workspace/shared/logs
      - ${APE_SHARED}/src:/workspace/shared/src:ro
      - ${APE_DELAN}:/workspace/delan_repo
      - ${APE_PE}/services/delan/jax:/workspace/delan_jax
      - ${APE_PE}/services/delan/src:/workspace/delan_src:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    working_dir: /workspace/delan_repo
    stdin_open: true
    tty: true

  delan_torch:
    depends_on:
      - preprocess  
    build:
      context: ./services/delan
      dockerfile: Dockerfile.torch
    user: "${UID}:${GID}"
    gpus: all
    environment:
    - PYTHONDONTWRITEBYTECODE=1
    - DISPLAY=${DISPLAY}
    - QT_X11_NO_MITSHM=1
    - MPLBACKEND=Agg
    - QT_QPA_PLATFORM=offscreen    
    volumes:
      - ${APE_SHARED}/data/preprocessed:/workspace/shared/data/preprocessed:ro
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed
      - ${APE_SHARED}/models/delan:/workspace/shared/models/delan
      - ${APE_SHARED}/config:/workspace/shared/config:ro
      - ${APE_SHARED}/logs:/workspace/shared/logs
      - ${APE_SHARED}/src:/workspace/shared/src:ro
      - ${APE_DELAN}:/workspace/delan_repo
      - ${APE_PE}/services/delan/torch:/workspace/delan_torch
      - ${APE_PE}/services/delan/src:/workspace/delan_src:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    working_dir: /workspace/delan_repo
    stdin_open: true
    tty: true

  lstm:
    depends_on:
      - preprocess
      - delan_jax
    build: ./services/lstm
    user: "${UID}:${GID}"
    gpus: all
    environment:
      PYTHONDONTWRITEBYTECODE: "1"
    volumes:
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed:ro
      - ${APE_SHARED}/models/delan:/workspace/shared/models/delan:ro
      - ${APE_SHARED}/models/lstm:/workspace/shared/models/lstm
      - ${APE_SHARED}/config:/workspace/shared/config:ro
      - ${APE_SHARED}/logs:/workspace/shared/logs
      - ${APE_SHARED}/src:/workspace/shared/src:ro
      - ${LSTM}:/workspace/lstm
    working_dir: /workspace/lstm
    stdin_open: true
    tty: true

  evaluation:
    build: ./services/evaluation
    depends_on:
      - preprocess
      - delan_jax
      - lstm
    user: "${UID}:${GID}"
    gpus: all
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - MPLBACKEND=Agg
      - MPLCONFIGDIR=/workspace/shared/.mplconfig
    volumes:
      - ${APE_EVALUATION}:/workspace/evaluation
      - ${APE_SHARED}/data/processed:/workspace/shared/data/processed:ro
      - ${APE_SHARED}/models/delan:/workspace/shared/models/delan
      - ${APE_SHARED}/models/lstm:/workspace/shared/models/lstm
      - ${APE_SHARED}/evaluation:/workspace/shared/evaluation
      - ${APE_SHARED}/.mplconfig:/workspace/shared/.mplconfig
      - ${APE_SHARED}/config:/workspace/shared/config:ro
      - ${APE_SHARED}/logs:/workspace/shared/logs
      - ${APE_SHARED}/src:/workspace/shared/src:ro
    working_dir: /workspace/evaluation
    stdin_open: true
    tty: true

  runner_gui:
    depends_on:
      - preprocess
      - delan_jax
      - lstm
      - evaluation
    build: ./services/runner_gui
    environment:
      - APE_PE=${APE_PE}
      - APE_SHARED=${APE_SHARED}
      - APE_PREPROCESS=${APE_PREPROCESS}
      - APE_EVALUATION=${APE_EVALUATION}
      - LSTM=${LSTM}
      - ${APE_DELAN}:/workspace/delan_repo
      - DISPLAY=${DISPLAY}
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
      - STREAMLIT_SERVER_HEADLESS=true
      - PYTHONDONTWRITEBYTECODE=1
    volumes:
      - ${APE_PE}/services/runner_gui:/app
      - ${APE_PE}:/workspace:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ${APE_SHARED}:/workspace/shared
    ports:
      - "8501:8501"
    working_dir: /app
